.program {
  width: 100vw;

  background: #000;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.program__content {
  width: 90%;
  max-width: 800px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* заголовок блока и время мероприятия */
.content__title {
  color: #ccca6f;
  font-size: 24px;
  font-weight: light;
  margin-bottom: 10px;
}

.content__subtitle {
  color: white;
  font-size: 18px;
  font-weight: light;
  margin-bottom: 10px;
}

/* этапы со временем */
.content__item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: left;
  max-width: 800px;

  margin-bottom: 30px;
  padding-left: 15px;

  color: white;
  border-left: 2px solid #ccca6f;
}

.content__item-time {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  width: 100%;
}

.content__item-title {
  text-align: left;
  width: 100%;
}
